<h2>Carpetas disponibles</h2>
<ul>
  <li *ngFor="let folder of folders">
    <button (click)="listFilesInFolder(folder.id)">
      📁 {{ folder.name }}
    </button>
  </li>
</ul>

<h3 *ngIf="selectedFolderId">Archivos en carpeta seleccionada</h3>
<ul *ngIf="files.length > 0">
  <li *ngFor="let file of files">
    📄 {{ file.name }} ({{ file.mimeType }})
  </li>
</ul>
<p *ngIf="selectedFolderId && files.length === 0">No hay archivos en esta carpeta.</p>

<hr />

<h3>Subir archivo a mi carpeta propia</h3>
<input type="file" (change)="onFileSelected($event)" />
<button (click)="uploadSelectedFile()">Subir archivo</button>
