<section class="min-h-screen bg-[#f2faf9] p-8">

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Calendario -->
    <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
      <div class="flex items-center mb-4">
        <svg
          class="h-6 w-6 text-green-800 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
        <h2 class="text-lg font-bold text-gray-900">Eventos de Calendar</h2>
      </div>
      <calendar />
    </div>

    <!-- Tareas -->
    <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
      <div class="flex items-center mb-4">
        <svg
          class="h-6 w-6 text-green-800 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2l4 -4m5 2a9 9 0 11-18 0a9 9 0 0118 0z"
          />
        </svg>
        <h2 class="text-lg font-bold text-gray-900">Google Tasks</h2>
      </div>
      <tasks />
    </div>

    <!-- Drive -->
    <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
      <div class="flex items-center mb-4">
        <svg
          class="h-6 w-6 text-green-800 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 7a2 2 0 012-2h4l2 2h8a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V7z"
          />
        </svg>
        <h2 class="text-lg font-bold text-gray-900">Google Drive</h2>
      </div>
      <drive />
    </div>

    <!-- Recibos de sueldo -->
    <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
      <div class="flex items-center mb-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-green-800 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M15.707 21.293a1 1 0 0 1-1.414 0l-1.586-1.586a1 1 0 0 1 0-1.414l5.586-5.586a1 1 0 0 1 1.414 0l1.586 1.586a1 1 0 0 1 0 1.414z"
          ></path>
          <path
            d="m18 13-1.375-6.874a1 1 0 0 0-.746-.776L3.235 2.028a1 1 0 0 0-1.207 1.207L5.35 15.879a1 1 0 0 0 .776.746L13 18"
          ></path>
          <path d="m2.3 2.3 7.286 7.286"></path>
          <circle cx="11" cy="11" r="2"></circle>
        </svg>
        <h2 class="text-lg font-bold text-gray-900">Recibos de sueldo</h2>
      </div>
      <paystub-signer />
    </div>


  </div>
</section>
