<ul class="space-y-3">
  @for (event of events(); track $index) {
  <li class="p-4 border rounded-md border-gray-300 hover:bg-gray-50 transition">
    <h3 class="font-semibold text-gray-800">{{ event.title }}</h3>
    <p class="text-gray-600 text-sm mb-2">{{ event.description }}</p>
    <div class="flex items-center text-gray-500 text-sm space-x-4">
      <span class="flex items-center">
        <svg
          class="h-4 w-4 mr-1"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
        {{ event.dateTime | date:'dd-MM-yyyy':'UTC' }}
      </span>
      <span class="flex items-center">
        <svg
          class="h-4 w-4 mr-1"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0a9 9 0 0118 0z"
          />
        </svg>
        {{ event.dateTime | date : "shortTime" }}
      </span>
    </div>
  </li>
  }
</ul>
