<nav class="">
  <div class="flex justify-between items-center h-14 px-8 bg-white">
    <span class="font-bold text-xl">MobyApp</span>

    <div class="flex items-center gap-10">
      @if (auth.user$ | async; as user) {
      <span>Hola, {{ user.name || user.email }}</span>
      <button
        type="button"
        class="border border-moby px-6 py-1.5 rounded-xl hover:bg-moby hover:text-white transition-colors duration-300"
        (click)="onLogout()"
      >
        Salir
      </button>

      }
    </div>
  </div>
</nav>
