<nav class="nav">
  <div class="nav__container">
    <span class="brand">Mi App</span>

    <div class="nav__right">
      @if (auth.user$ | async; as user) {
        <span>Hola, {{ user.name || user.email }}</span>
        <button type="button" class="btn" (click)="onLogout()">Salir</button>
        <button type="button" class="btn" (click)="onDashboard()">Mi perfil</button>

      } @else {
        <button type="button" class="btn" (click)="onLogin()">Iniciar sesión</button>
      }
    </div>
  </div>
</nav>
